# Entorno virtual
env/
.venv/
venv/
yolov7
yolov5
tiles_coords
runs/
datasets/
coords/
cut_tiles/
datasets.zip
negatives/
test/

# Archivos de caché y otros archivos innecesarios
__pycache__/
*.pyc
*.pyo

# Archivos de configuración del editor
.vscode/
.idea/